@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,800;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital@0;1&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* overflow: hidden; */
  overflow-x: hidden;

}

* {
  margin: 0;
  padding: 0;
}


:root {
  --primary: rgb(255, 85, 0);
  --light: #F3F6F9;
  --dark: black;
}

.man-color {
  background: var(--primary);
}

.man-text {
  color: var(--primary);
}

.second-color {
  background: var(--dark);
}

.second-text {
  color: var(--dark);

}

.light-color {
  color: var(--light);
}

.mtxl {
  margin-top: 2rem;
}


.mtyl {
  margin-top: 4rem;
}

.container-fluid {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}




.navbar-nav .nav-item a {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  visibility: visible;
  transition: all 1s ease;
  margin: 0 7px;


}

.nav-item:hover {
  background-color: var(--dark);
  color: var(--light);
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}

.bi {
  margin: 0 4px 0 4px;
  cursor: pointer;
}

.form-control {
  border: 1px solid var(--primary);
}



.t-megamenu {
  background-color: #eeeeee;
  float: left;
  width: 100%;
  overflow: scroll;
  height: 500px;
}

.t-megamenu .sub_class a {
  display: block;
  text-decoration: none;
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
}

.t-megamenu .dropdown-item {
  color: #181a1f;
  font-size: 14px;
  padding: 1px 5px;
  margin-bottom: 3px;
}

.t-megamenu h6 {
  font-family: 'Sofia_Pro_Bold';
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  background: #181a1f;
  padding: 0.8rem 0.5rem;
}

.has-megamenu {
  position: static;
}

.dropdown-item:hover {
  color: var(--primary);
  text-decoration: none;
  background-color: #eeeeee;
}

.t-megamenu .dropdown-item {

  padding: 1px 5px;
  margin-bottom: 3px;
}




.f-h h5:hover {
  color: var(--primary);
}

.f-h {
  cursor: pointer;
}

.nav .nav-item a {
  color: #fff;
  text-decoration: none;
  list-style: none;
}

.br li {
  margin: 7px 4px 5px 6px;
  border-bottom: 2px dotted #ccc;
}

.nav li {
  margin: 7px 4px 5px 6px;
}

.nav span {
  margin: 7px 4px 5px 6px;

}

.nav li a:hover,
.nav li span:hover,
.nav span:hover {
  color: var(--primary);

}

.news_and_event h2 {
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  color: var(--primary);
  font-size: 20px;
  margin-top: 15px;
}

.sub-tittle h1 {
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  color: var(--primary);
}

.sub-tittle span {
  color: var(--dark);

}

.sub-tittle h3 {
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
}

.t-image .view {
  width: 300px;
  height: 246px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.t-image .view img {
  display: block;
  position: relative;
}

.t-image .view .mask,
.view .content {
  width: 300px;
  height: 260px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

}

.effect .mask {
  background-color: #e92620a6;
  opacity: 0;
  border-style: none;
  border-width: 150px;
  transform: translateY(-125px);
  transition: transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;


}

.t-image .view .info {
  display: flex;
  text-decoration: none;
  padding: 0;
  text-indent: -9999px;
  width: 73px;
  height: 40px;
  margin: auto;

}

.t-image .view .info {
  color: white;
  opacity: 0;
  transform: translateY(-125px);
  transition: transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;

}

.effect:hover img {
  opacity: 0.7;
  transform: scale(2, 2);

}

.effect:hover .mask {
  opacity: 1;
  transform: translateY(0px);
}

.effect:hover .info {
  opacity: 1;
  transform: translateY(100px);
}

.info .ba {
  color: white;
}


.line {
  width: 148px;
  height: 7px;
  background-color: var(--primary);
  border-radius: 7px;
  margin: auto;
}

.filter {
  background-color: #F6F6F6;
  color: #000;
}

.nav-tab {
  border-bottom: 2px solid #dee2e6;
}

.nav-tab select {
  background: transparent;
  border: none;
  padding: 0 25px 0 0;
  cursor: pointer;
}

.fa-solid {
  width: 11px;
  cursor: pointer;
}

.fa-list {
  width: 20px;
  cursor: pointer;
}

.card-2 {
  border: 4px dotted var(--dark);
}

.card-body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: -38px;
  margin-bottom: 35px;
}

.card-body .card-tittle {
  font-size: 25px;
  font-weight: 500
}

.card {
  cursor: pointer;

}

.card-2:hover {
  /* background-color: var(--primary); */
  border: 4px dotted var(--primary);
  /* color: white; */
}




.social .icon {
  position: relative;
  bottom: 22px;
  right: 11px;
}

.social .icon ul li button:hover {
  background-color: var(--primary);
  border: none;
  color: white;
}

.social .icon ul {
  margin: 0;
  padding-left: 33px;
  list-style: none;

}

.social .icon ul li {

  display: inline;
}

.social .icon ul li button {
  margin: 3px;
  border: 2px solid black;
  padding: 15px;
  background: white;
  text-decoration: none;
  color: black;

}

.carousel-indicators {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-indicators li {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 0.25rem;
  cursor: pointer;
}

.carousel-indicators li.active {
  background-color: var(--primary);
}

.details {
  margin-top: 12px;
}

.mdl button {
  padding: 12px 20px 12px 20px;
  border-radius: 0;
  /* text-align: center; */
  background-color: var(--primary);
  border: none;
}


#quantity{
  padding: 25px 5px 25px 5px;
  border-radius: 0;
}

.modal-header button{
  background-color: var(--primary);
  color: white;
}
.modal-header,.modal-footer{
  border: none;
}